
<div id="login">
    <form action="/Home/Submit">
        <table>
            <tr>
                <td>用户名：</td>
                <td><input placeholder="请输入用户名" name="username" /></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input placeholder="请输入密码" name="password" /></td>
            </tr>
            <tr>
                <td>
                    <div class="operation">
                        <button id="submit" type="submit">登录</button>
                        <button id="cancel" type="reset">取消</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<style>
    table {
        margin: 200px auto;
        border-collapse: separate;
        border-spacing: 10px;
    }

    .operation {
        display: flex;
        justify-content: space-evenly;
    }

    button {
        width: 80px;
    }
</style>